

body {
    overflow-x: hidden;
    -ms-word-break: break-all;
    word-break: break-all;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color:rgb(243,243,244);
}

.cnblogs-markdown .hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    background: #fff;
    color: #000;
    font-family: "Courier New", sans-serif !important;
    font-size: 1em !important;
    line-height: 1.5 !important;
    padding: 5px !important;
}

.xml .hljs-attribute {
    color: red;
}

.cnblogs-markdown code {
    font-family: "Courier New", sans-serif !important;
    font-size: 1em;
    background-color: #f5f5f5 !important;
    border: 1px solid #ccc !important;
    padding: 2px 5px !important;
    border-radius: 3px !important;
}

.cnblogs-markdown pre {
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    border: 0;
}

.cnblogs_code {
    background-color: #f5f5f5;
    font-family: Courier New !important;
    font-size: 0.7em;
    border: 1px solid #ccc;
    padding: 5px;
    overflow: auto;
    margin: 5px 0;
    color: #000;
}

    .cnblogs_code div {
        background-color: #f5f5f5;
    }

    .cnblogs_code pre {
        font-family: Courier New !important;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        white-space: pre-wrap;
    }

    .cnblogs_code span {
        font-family: Courier New !important;
    }

.codeLineNumber {
    color: teal;
    padding-right: 10px;
}

.cnblogs_code ol {
    margin-left: 0;
    color: teal;
}

    .cnblogs_code ol li {
        list-style-image: none;
    }

        .cnblogs_code ol li span {
            color: #000;
        }

.cnblogs_code_toolbar a:hover,
.cnblogs_code_toolbar a:link,
.cnblogs_code_toolbar a:visited,
.cnblogs_code_toolbar a:active,
.cnblogs_code_toolbar a:link img,
.cnblogs_code_toolbar a:visited img {
    background-color: #f5f5f5 !important;
    border: none !important;
}

pre {
    margin-top: 0;
    margin-bottom: 0;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font-size: 0.7em;
}

a.ing_lnk:link,
a.ing_lnk:active,
a.ing_lnk:visited {
    color: gray;
    text-decoration: none;
    border: 0;
}


blockquote {
    background: none;
    border: 2px solid #efefef;
    color: #333;
    margin-left: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.7em;
}

ul, ol {
    font-size: 0.7em;
}

#cnblogs_post_body blockquote ul {
    margin-left: 25px;
}

h1 {
    font-size: 1.5em;
}

.h2 {
    font-size: 1.4em;
}

.h3 {
    font-size: 1.3em;
}

.h4 {
    font-size: 1.2em;
}

.info{
    margin-top:0.5em;
}

.info .title {
    color: #297ACD;
    font-size: 1.1em;
}

.info .author a {
    text-decoration: none;
    color: #297ACD;
}

    .info .author a img {
        border: 1px solid gray;
        border-radius: 5px;
        float: left;
        width: 1.5em;
        height: 1.5em;
    }

    .info .author a span {
        font-size: 1em;
        clear: left;
        margin-left: 5px;
        line-height: 1.5em;
    }
