html {
    font-size:1em;
        color: #aaa;
}
body {
    overflow-x: hidden;
    -ms-word-break: break-all;
    word-break: break-all;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    background-color: #3d3d3d;
}

a:visited, a:active, a:link {
    color: #8d8c8c;
    text-decoration: none;
}

ol,ul {

font-size:0.7em;
}



img{
    margin:0 auto;
}
