html {
    font-size:1em;
}
body {
    overflow-x: hidden;
    -ms-word-break: break-all;
    word-break: break-all;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
        font-family: Verdana, Arial, Helvetica, sans-serif;
            background-color:rgb(243,243,244);

}

img{
    margin:0 auto;
}
ol, ul{

font-size:0.7em;
}

.title {
    color:#297ACD;
    font-size:1.1em;
    margin: 0 auto 1em auto ;
    text-align:center;
}

